.container
  h2 Страница "обо мне"

  article
    p
      b
        |
          Годы без программирования
    p
      |
        Мне с раннего детства нравились фильмы, где что-нибудь происходило благодаря компьютерным технологиям.
        Я даже хотел в школьное время связать себя с программированием, но жизнь - такая штука, которая происходит
        с нами, пока мы строим совершенно другие планы. В школе у нас программирования не было вообще, впервые
        узнал о нем в колледже. Моим первым языком был язык BASIC. Тогда меня это оттолкнуло: было непонятно,
        как это можно использовать в повседневной жизни, и я в какой-то степени разочаровался (хотя просто
        нужно было заинтересоваться этим вопросом). После колледжа я сразу пошел в армию. После армии нужно
        было уже жить самостоятельно и поэтому пришлось исключить поиск призвания и устроиться на работу
        "хоть кем-нибудь". О программировании на этом этапе я благополучно забыл и находился в свободном
        плавании около 3-х лет.
    p
      b
        |
          Годы без программирования
    p
      |
         Для меня осознание, что я хочу сделать карьеру в IT, пришло еще до обучения, в процессе обучения я еще
         сильней убедился в этой уверенности. Я постоянно чувствовал, что хочу чего-то большего. Во время
         мониторинга интернета в поиске трендов и вакансий я стал замечать, что на глаза все время попадаются
         статьи о программировании. В них говорилось, что научиться программированию легко, что это перспективно,
         что это позволяет создавать интересные вещи и т.п. Я стал искать информацию более усердно. Параллельно
         мой друг Денис, который уже работал программистом, советовал мне изучить это ремесло. И где-то в мае
         2015 я понял, что именно этим я хочу дальше заниматься по жизни.

    p
      |
        to be continued...